<html lang="en">
<head>
<script src="jquery/jquery.min.js"></script>
<script src="web3/web3.min.js"></script>
<link rel="stylesheet" href="local_css/main.css">
</head>
<body>
{{{body}}}
</body>
</html>